<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.YOUR_USERNAME.filemail</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>FILEMAIL_DIR</key>
        <string>/PATH/TO/SCRIPT/FOLDER/filemail</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>/PATH/TO/SCRIPT/FILE/filemail/filemail.scpt</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
</dict>
</plist>
